.DS_Store
scratch*
lambda-functions/**/latest
**/.checksum
.idea
.env
v2/site/origin/images/*
v2/site/origin/image/*
!v2/site/origin/images/.gitkeep
v2/site/origin/video/*
!v2/site/origin/video/.gitkeep
v2/site/origin/favicon.ico
v2/site/origin/images.mjs
v2/site/origin/qrcodes.mjs
v2/site/origin/index.html
v2/site/origin/getOrigin.mjs