html {
    height: 100%;

    body {
        height: 100%;
        margin: 0;
        overflow: hidden;

        .info {
            margin: 10px;

            td {
                border: 1px solid black;
                padding: 5px;
            }
        }

        .slide {
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-color: black;

            .eager-image {
                opacity: 0;
                position: fixed;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
            }

            .qrcode {
                background-size: contain;
                background-color: white;
                position: fixed;
            }

            .click-area {
                position: fixed;
                opacity: 0;
                z-index: 1;
                transition: opacity 0.5s;
                cursor: pointer;

                .click-area--text {
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    font-family: sans-serif;
                    background-color: rgba(100, 100, 100, 0.75);
                    border: 5px solid white;
                    box-sizing: border-box;
                }
            }
        }
    }
}